.midnight-blue {
  color: #002359; /* Midnight Blue */
}
.midnight-blue {
  color: #003873; /* Midnight Blue */
}
.teal {
  color: #004F8E; /* Teal */
}
.dodger-blue {
  color: #007AFF; /* Dodger Blue */
}
.dark-cyan {
  color: #0081C6; /* Dark Cyan */
}
.dark-cyan {
  color: #0082C6; /* Dark Cyan */
}
.dodger-blue {
  color: #0D6EFD; /* Dodger Blue */
}
.black {
  color: #111111; /* Black */
}
.black {
  color: #1B1B1B; /* Black */
}
.dark-slate-gray {
  color: #212529; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #2B2B2B; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #343A40; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #444444; /* Dark Slate Gray */
}
.slate-gray {
  color: #6C757D; /* Slate Gray */
}
.gray {
  color: #767676; /* Gray */
}
.gray {
  color: #777777; /* Gray */
}
.dark-gray {
  color: #AAAAAA; /* Dark Gray */
}
.light-gray {
  color: #CCCCCC; /* Light Gray */
}
.gainsboro {
  color: #DEE2E6; /* Gainsboro */
}
.white-smoke {
  color: #EEEEEE; /* White Smoke */
}
