<?xml version="1.0" encoding="UTF-8"?>
  <configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <clear />

          <!-- Dejar que la aplicación ASP.NET Core /api la procese IIS -->
          <rule name="DoNotProxyApi" stopProcessing="true">
            <match url="^api(?:/.*)?$" />
            <action type="None" />
          </rule>

          <!-- Todo lo demás se envía al servidor Angular SSR -->
          <rule name="ReverseProxyToAngularSSR" stopProcessing="true">
            <match url="(.*)" />
            <action
              type="Rewrite"
              url="http://127.0.0.1:4000/{R:1}"
              appendQueryString="true"
            />
          </rule>
        </rules>
      </rewrite>

      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </configuration>