<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.mjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="AngularSSR" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="server.mjs" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      watchedFiles="*.js;*.mjs;web.config"
      loggingEnabled="true"
    />
  </system.webServer>
</configuration>
